@model MinaGlosor.Web.Controllers.PracticeController.AnswerWordViewModel

@Html.ActionLink("Avsluta", "Index", "Home")
<p>
    @Model.Word.Text
    betyder
    @Model.Word.Definition
</p>
<ul>
    <li>
        @Html.ActionLink("Det visste jag", "Answer", new { wordListId = Model.WordListId, wordId = Model.Word.Id, confidence = 5 })
    </li>
    <li>
        @Html.ActionLink("Osäker", "Answer", new { wordListId = Model.WordListId, wordId = Model.Word.Id, confidence = 3 })
    </li>
    <li>
        @Html.ActionLink("Visste inte alls", "Answer", new { wordListId = Model.WordListId, wordId = Model.Word.Id, confidence = 0 })
    </li>
</ul>