@model CurrentUserViewModel
@{
    Layout = null;
    Bundles.Reference("wwwroot/app", "app");
    Bundles.Reference("wwwroot/", "root");
    Bundles.Reference("wwwroot/external/head_js", "head");
    Bundles.Reference("wwwroot/external/footer_js", "footer");
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="appVersion" content="@Application.GetAppVersion()" />
    <meta name="isDebuggingEnabled" content="@Html.ViewContext.HttpContext.IsDebuggingEnabled.ToString().ToLowerInvariant()" />
    @Html.Partial("_WebApp")
    <title>Mina Glosor</title>
    <base href="@string.Format("{0}://{1}:{2}/{3}/", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, Model.Username)" />
    @Bundles.RenderStylesheets("root")
    @Bundles.RenderStylesheets("app")
    @Bundles.RenderScripts("head")
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css" rel="stylesheet">
    @Bundles.RenderStylesheets()
    <script>
        $(function () {
            // https://github.com/Skookum/waypoints
            // TODO: Causes full page reload
            //Waypoints.debug(true).intercept('a');
            // check if this can be solved like this instead: http://stackoverflow.com/questions/31299394/
        });
    </script>
</head>
<body ng-app="mgApp">
    <toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>
    <div id="spinner-parent" style="display: none;" spinner>
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
            <div class="cube3"></div>
            <div class="cube4"></div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="progress">
                    <div class="logo">
                        <span class="label label-success">&nbsp;</span>
                        <span class="label label-info">&nbsp;</span>
                        <span class="label label-warning">&nbsp;</span>
                        <span class="label label-danger">&nbsp;</span>
                    </div>
                    Mina Glosor
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <navbar-search navbar-target="#navbar-collapse"></navbar-search>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="browse">Bläddra</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logoff", "AccountLogoff")">
                            <i class="glyphicon glyphicon-log-out"></i>
                            Logga ut
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container ng-cloak">
        <div class="row" ng-show="upgradeRequired">
            <div class="col-xs-12">
                <span class="label label-danger">Uppgradering krävs. Vänligen ladda om sidan.</span>
            </div>
        </div>
        <ui-view></ui-view>
    </div>
    <footer>
        <div class="container">
            <p>@Application.GetAppVersion()</p>
        </div>
    </footer>
    @Bundles.RenderScripts("footer")
    @Bundles.RenderScripts("app")
</body>
</html>