To: @ViewBag.To
From: @ViewBag.From
Bcc: @ViewBag.Bcc
Subject: @ViewBag.Subject
Content-Type: text/html; charset=utf-8

<p>
    Du får det här brevet för att återställa lösenordet till MinaGlosor.se.
</p>
<p>
    Klicka här för att återställa lösenordet:
    <a href="@Url.Action(
        "Set",
        "AccountPassword",
        new
        {
            activationCode = Model.ActivationCode
        },
        Request.Url.Scheme)">
        Återställ mitt lösenord
    </a>
</p>
