@model MinaGlosor.Web.Controllers.WordController.WordIndexViewModel

<p>
    @Html.ActionLink("Avsluta", "Index", "Home")
</p>
@Html.ActionLink("Lägg till ord", "Add", new { wordListId = Model.WordListId })
@if (Model.Words.Any())
{
    @:|
    @Html.ActionLink("Öva", "Index", "Practice", new { wordListId = Model.WordListId }, null)
}

<table class="table table-striped">
    @foreach (var word in Model.Words)
    {
        <tr>
            <td>@word.Text</td>
            <td>@word.Definition</td>
        </tr>
    }
</table>
